.mainDiv {
  display: grid;
  grid-template-columns: repeat(4, 248px);
  margin-left: 200px;
  /* column-gap: px; */
  row-gap: 50px;
  margin-top: 50px;
}
.heading {
  font-weight: lighter;
  margin-left: 220px;
}
.hr {
  margin-left: 220px;
}
.filter {
    display: flex;
  height: 70px;
  width: 83%;
  background-color: rgb(242, 242, 242);
  margin-left: 220px;
  justify-content: space-evenly;
}
.filter>select{
    width: 330px;
    height: 40px;
    margin-top: 10px;
    border: none;
    border-bottom: 2px solid black;
    background-color:  rgb(242, 242, 242);
}