.footer {
  box-sizing: border-box;
  border-top: 3px solid #f2f2f2;
  padding-top: 20px;
  color: #666;
  font-weight: 400;
  margin-top: 25px;
}
.mainDiv {
  width: 70%;
  margin: auto;
  font-size: 14px;
  box-sizing: border-box;
  padding: 25px;
}
.imgDiv {
  text-align: right;
}
.innerDiv {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: auto;
  gap: 15px;
  margin: auto;
}
.innerDiv > div {
  display: flex;
  line-height: 1rem;
  flex-direction: column;
}
.innerDiv > div > div {
  width: 60%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0px;
}
.innerDiv > div > div button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 18px;
}
.innerDiv > div input {
  width: 80%;
  height: 30px;
}
.innerDiv > div p {
  margin-top: 1px;
}
.SocialDiv {
  display: flex;
  justify-content: space-between;
  margin: auto;
  box-sizing: border-box;
  padding: 0px 20px;
}
.imgDiv > img {
  width: 400px;
  margin-top: 10px;
}
.SocialDiv > div {
  gap: 5px;
}
.innerDiv > div > div img {
  width: 30px;
  margin-right: 10px;
}
.lastDiv {
  background-color: whitesmoke;
  padding: 20px;
}
.termDiv {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.termDiv + div {
  text-align: center;
}
